# Python has bindings for many database systems including MySQL, Postregsql, Oracle, Microsoft SQL Server and Maria DB.

## SQLite Creation

In [16]:
import sqlite3 as lite
import sys
 
conn = None
 
try:
    conn = lite.connect('test.db')#connected to a new database
    cur = conn.cursor()    
    cur.execute('SELECT SQLITE_VERSION()')# queries the database management system 
    data = cur.fetchone()
    print( "SQLite version: %s" % data)                
except e:   
    print( "Error %s:" % e.args[0])
    sys.exit(1)

SQLite version: 3.8.11

## SQL Create and Insert

In [17]:
cur.execute("CREATE TABLE Users(Id INT, Name TEXT)")
cur.execute("INSERT INTO Users VALUES(1,'Michelle')")
cur.execute("INSERT INTO Users VALUES(2,'Sonya')")
cur.execute("INSERT INTO Users VALUES(3,'Greg')")

## SQLite query data

In [18]:
cur.execute("SELECT * FROM Users") 
rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Michelle')
(2, 'Sonya')
(3, 'Greg')

## SQLite Delete data

In [19]:
cur.execute("DELETE FROM Users WHERE Id=2")

In [20]:
cur.execute("SELECT * FROM Users") 
rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Michelle')
(3, 'Greg')

## MySQL Database

In [26]:
import MySQLdb
 
db = MySQLdb.connect(host="localhost",  # your host 
                     user="root",       # username
                     passwd="Sonofgod1!",     # password
                     db="pythonspot")
cur = db.cursor() #create a cursor

##  Create Table

In [27]:
cur.execute("CREATE TABLE IF NOT EXISTS sample ( id int(11) NOT NULL AUTO_INCREMENT,description varchar(45),PRIMARY KEY (id))")

0

## Insert Table

In [35]:
cur.execute("INSERT INTO sample(description) VALUES ('Hello World')")
cur.execute("INSERT INTO sample(description) VALUES ('Hiiii')")
cur.execute("INSERT INTO sample(description) VALUES ('go out')")

1

## Query Table

In [36]:
# Select data from table using SQL query.
cur.execute("SELECT * FROM sample")
 
# print the first and second columns      
for row in cur.fetchall() :
    print (row[0], " ", row[1])

1   Hello World
2   Hello World
3   Hiiii
4   go out

## Delete Table

In [37]:
cur.execute("DELETE FROM sample WHERE id=2")

1

In [38]:
# Select data from table using SQL query.
cur.execute("SELECT * FROM sample")
 
# print the first and second columns      
for row in cur.fetchall() :
    print (row[0], " ", row[1])

1   Hello World
3   Hiiii
4   go out